body {
  margin: 0;
}
#navBar-header {
  top: 0;
  z-index: 100;
  position: sticky;
  width: 100%;
}
#badge {
  position: absolute;
  background-color: rgb(255, 30, 30);
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 14px;
  top: -11px;
  right: -6px;
}

#navBar_container {
  background-color: white;
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  font-family: "Lato", sans-serif;
  justify-content: space-around;
  align-items: center;
  padding: 10px 40px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.navBar-collection {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  justify-content: space-around;
  width: 90%;
}

.navBar-collection a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}
#navBar_siteName {
  font-size: 40px;
  padding: 0px 20px;
  font-family: -webkit-body;
}
#navBar_siteName a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}
#navBar_siteName > b {
  font-weight: 900;
  font: black;
}
.navBar-navBtn:hover {
  border-bottom: 1px solid black;
}
.navBar-active-link {
  color: red;
}

.navBar-search {
  padding: 5px;
  color: gray;
  color: rgb(29, 29, 29);
  background-color: rgb(241, 241, 241);

  border-radius: 40px;
  width: 35em;
  text-align: center;
  position: relative;
}

.addedToCart {
  font-size: 1.5em;
  margin-right: 25px;
}
#navBar-usersection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navBar-usersectionIcon {
  font-size: 45px;
}

.navBar-search input[type="text"] {
  width: 35em;
  height: 3em;
  padding: 2px 50px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
}
.navBar-search input[type="text"]::placeholder {
  font-weight: bold;
}
.navBar-search input[type="text"]:focus {
  outline: none;
}
#navBar-usersection a {
  color: rgb(29, 29, 29);
}

.navBar-hamburger {
  display: none;
  background: #2e2e2e;
  border-radius: 40px;
  /* display: none; */
}
.navBar-ham-active {
  display: block;
}
/* ----------------------------- MEDIA QUERY --------------------------- */

@media (max-width: 770px) {
  .navBar-hamburger {
    display: block;
  }

  .navBar-collection {
    flex-direction: column;
    position: fixed;
    margin-top: 86px;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: #2e2e2e;
    top: 0;
    padding: 0;
    right: 0;
    transition: 1s;
  }

  #navBar_container {
    justify-content: space-between;
  }
}
@media (max-width: 1335px) {
  #searchBox {
    width: 18em;
  }
  .navBar-search {
    width: 20em;
  }
}
@media (max-width: 1120px) {
  #searchBox {
    width: 12em;
  }
  .navBar-search {
    width: 10em;
  }
  .addedToCart {
    font-size: 1.5em;
    margin: 10px 20px;
  }
}

@media (max-width: 1120px) {
  .navBar-search {
    display: none;
  }
}

@media (max-width: 550px) {
  /* #navBar_container {
    padding: 20px 25px;
  } */
}
/* ----------------------------------------------------------------------------- */
