.homepage-container {
  min-height: 50vh;
}
.aasdsada {
  border: 1px solid black;
  margin: 1em;
}
/*-------------------------------- .homepage-section-1-------------------------------- */
.homepage-section-1 {
  width: 100%;
  height: 80vmin;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.hp-section1-text {
  position: absolute;
  padding: 2em;
  margin: 12em;
  color: white;
  border-radius: 20px;
  background: rgb(0 0 0 / 54%);
}
.hp-section1-text > h2 {
  color: aliceblue;
  font-size: 7vmin;
  font-family: -webkit-body;
}
.hp-section1-text > p {
  font-size: 4vmin;
  font-style: oblique;
  font-family: monospace;
}
.homepage-section-1 video {
  height: 100%;
  width: 100%;
  max-height: 100%;
  z-index: -10;
  position: relative;
  object-fit: cover;
}

/*-------------------------------- .homepage-section-2-------------------------------- */
.homepage-section-2 {
  min-height: 85vmin;
  display: flex;
  /* margin: 2vmin 0; */
  padding: 2vmin;
  background: url("https://media.istockphoto.com/photos/dark-gray-and-black-grunge-cement-wall-studio-room-space-product-picture-id1337977426?b=1&k=20&m=1337977426&s=170667a&w=0&h=pXD50PRHzp_VW0Jqc3XVve3lQvKg3d5UnPb8C2urYL4=");
  flex-direction: column;
}
.hp-section-2-heading {
  background-color: #1d1e1f75;
  color: white;
  margin: auto;
  padding: 2vmin;
  width: 50vw;
  font-size: 2vmax;
  border-radius: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.hp-section-2-brands {
  height: 100%;
}
.hp-section-2-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #0a0c0e;
  border-radius: 30px;
  padding: 10px;
  min-height: max-content;
  width: 20vmax;
}

.hp-section-2-brands ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.hp-section-2-brands li {
  padding: 2vmin;
}
.hp-section-2-brands img {
  border-radius: 50px;
  margin: 2vmin;
  width: 90%;
  transform: 1s;
  height: 310px;
}
.hp-section-2-brands img:hover {
  box-shadow: 4px 2px 5px 1px rgb(114 114 114);
  transform: scale(1.05);
  /* cursor: pointer; */
}
.hp-section2-image-text {
  background: transparent;
  color: white;
  padding: 2vmin;
  border-radius: 50px;
  margin-top: -10px;
}
.hp-section2-image-text h3 {
  padding: 10px 0px 1vmin 0px;
  font-size: 5vmin;
  /* font-family: fantasy; */
}
.hp-section2-image-text p {
  font-family: fantasy;
  font-size: 1.2em;
}

@media screen and (max-width: 920px) {
  .hp-section-2-box {
    width: 65vmin;
  }
  .hp-section-2-brands img {
    /* min-height: 405px; */
  }
}
@media screen and (max-width: 500px) {
  .hp-section-2-box {
    width: 50vmin;
  }
  .hp-section-2-brands img {
    /* min-height: 205px; */
    height: 172px;
  }
  .hp-section2-image-text h3 {
    font-size: 20px;
  }
}
/* --------------------------- HomePage   Section-3 --------------------------- */
.homepage-section-3 {
  min-height: 70vmin;
  /* display: grid; */
  /* grid-template-rows: 2fr 1fr; */
  /* margin: 2vmin; */
  padding: 2vmin;

  background: url("../assets/media/sneakerbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hp-section3-griditem1 {
  border-radius: 20px;
  color: #d30e0e;
  background-color: rgba(0, 0, 0, 0.216);
  overflow: hidden;
}
.hp-section3-griditem1 h2 {
  padding: 5vmin 0vmin;
  font-size: 5vmax;
  animation: my-animation 10s linear infinite;
}
@keyframes my-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
