/* -------  Products CSS  --------- */
.products-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

/* ------- ------   products side bar ------- ------  */
.products-filter-sidebar {
  width: 200px;

  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1px;
  text-align: start;
}

.products-filter-header {
  padding: 10px 20px;
  font-size: 20px;
  font-family: monospace;
  font-weight: 400;
}
.products-filter-choice-section {
  padding: 5px 10px;
  margin: 5px;

  color: #4f4f4f;
}

.products-filter-choice-section .formBox {
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  word-wrap: break-word;
}
.products-filter-choice-section .formBox .form-slider-box {
  margin: 0px 20px;
}
.products-filter-choice-section .formBox .slider-value-display {
  display: flex;
  justify-content: center;
}
.products-filter-choice-section .formBox .slider-value-display .text-box {
  padding: 3px 10px;
  border: 2px solid;
  width: 100%;
}

.products-filter-choice-section p {
  font-family: initial;
  font-size: 20px;
}
.products-filter-choice-section #filterLabel {
  font-size: 15px;
  font-variant-caps: all-small-caps;
  font-family: serif;
}
.products-filter-choice-section .formBox::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  background-color: #6a686874;
}
.products-filter-choice-section .formBox::-webkit-scrollbar-thumb {
  background-color: black;
}

.products-filter-sidebar .filter-apply-btn {
  align-self: flex-end;
  padding: 0px 30px;
  margin: -15px 0px 0px 0px;
}
/* ------- ------   products side bar ------- ------  */

/* ------- ------   products main product section ------- ------  */

.products-main-content {
  border: 1px solid;
  min-height: 90vh;
  width: 100%;
}

/* ------- ------   products main product section ------- ------  */
