/* -------  Products CSS  --------- */
.products-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

/* ------- ------   products side bar ------- ------  */
.products-filter-sidebar {
  width: 200px;

  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1px;
  text-align: start;
}

.products-filter-header {
  padding: 10px 20px;
  font-size: 20px;
  font-family: monospace;
  font-weight: 400;
}
.products-filter-choice-section {
  padding: 5px 10px;
  margin: 5px;

  color: #4f4f4f;
}

.products-filter-choice-section .formBox {
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  word-wrap: break-word;
}
.products-filter-choice-section .formBox .form-slider-box {
  margin: 0px 20px;
}
.products-filter-choice-section .formBox .slider-value-display {
  display: flex;
  justify-content: center;
}
.products-filter-choice-section .formBox .slider-value-display .text-box {
  padding: 3px 10px;
  border: 2px solid;
  width: 100%;
}

.products-filter-choice-section p {
  font-family: initial;
  font-size: 20px;
}
.products-filter-choice-section #filterLabel {
  font-size: 15px;
  font-variant-caps: all-small-caps;
  font-family: serif;
}
.products-filter-choice-section .formBox::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  background-color: #6a686874;
}
.products-filter-choice-section .formBox::-webkit-scrollbar-thumb {
  background-color: black;
}

.products-filter-sidebar .filter-apply-btn {
  align-self: flex-end;
  padding: 0px 30px;
  margin: -15px 0px 0px 0px;
}
/* ------- ------   products side bar ------- ------  */

/* ------- ------   products main product section ------- ------  */

.products-main-content {
  min-height: 90vh;
  width: 100%;
}
.products-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-left: 25px;
}

/* ------- ------   product card section ------- ------  */

.product-card-container {
  width: 30%;
  margin: 10px;
  min-width: 215px;
  position: relative;
  padding: 0.2em;
  list-style: none;
}

.product-card-container a {
  text-decoration: none;
}
.product-card-container .image-container > img {
  width: 100%;
  padding: 0.2em;
}

.product-card-desc {
  text-align: left;
  overflow-wrap: break-word;
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 2px 1em;
}

.product-card-desc .brandName-container {
  font-size: 20px;

  font-family: emoji;
}
.product-card-desc .productName-container {
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.product-card-desc .price-rating-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  font-size: 20px;
  font-family: math;
  font-family: math;
  color: #4f4f4f;
}
.product-card-container .add-cart-icon {
  position: absolute;
  top: 14px;
  right: 15px;
}
/* ------------ media query ------------ */
@media only screen and (max-width: 960px) {
  .products-filter-sidebar {
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  .product-card-container {
    width: 45%;
  }
}
@media only screen and (max-width: 800px) {
  .product-card-container {
    width: 90%;
  }
}
/* @media only screen and (max-width: 545px) {
  .product-card-container {
    width: 90%;
    margin: 10px;
  }
} */
